* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #e6f7ff;
  text-align: center;
}

h2 {
  color: #004d00;
}

#id {
  font-size: 1.2em;
  color: #ff6600;
  margin-bottom: 1em;
}

#gameBoard {
  border: 3px solid #333;
  background-color: #fdfdfd;
}

#score {
  margin-top: 1em;
  font-size: 2em;
  color: #c0392b;
}
